<%- include('header') %>

    <div class="d-flex align-items-center tjs-box-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-3 col-xs-1"></div>
                <div class="col-lg-4 col-sm-6 col-xs-10">
                    <div class="row tjs-row justify-content-center">Hiba történt, sajnáljuk!</div>
                </div>
                <div class="col-lg-4 col-sm-3 col-xs-1"></div>
            </div>
        </div>
    </div>

<%- include('footer') %>
