<%- include('header') %>

    <div class="d-flex align-items-center" style="margin-top: 10%;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-sm-3 col-xs-1"></div>
                <div class="col-lg-2 col-sm-6 col-xs-10">
                    <div class="row justify-content-center" style="margin-bottom: 0.5em; font-weight: bold;">Üdv a T.js platformon!</div>
                    <div class="row justify-content-center" style="margin-bottom: 0.5em;">Mit szeretnél tenni?</div>
                    <div class="row" style="margin-bottom: 0.5em;"><a class="btn btn-primary" href="/users">Csak körülnézek</a></div>
                    <div class="row" style="margin-bottom: 0.5em;"><a class="btn btn-primary" href="/login">Bejelentkezek</a></div>
                    <div class="row" style="margin-bottom: 0.5em;"><a class="btn btn-primary" href="/register">Regisztrálok</a></div>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-1"></div>
            </div>
        </div>
    </div>

<%- include('footer') %>
