<%- include('header') %>

    <div class="d-flex align-items-center tjs-box-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-3 col-xs-1"></div>
                <div class="col-lg-4 col-sm-6 col-xs-10">
                    <div class="row tjs-row-header justify-content-center">Jelszó módosítása</div>
                    <form class="container" method="POST" action="/account/modify/password">
                        <div class="row tjs-row">
                            <label class="col-lg-5 col-form-label text-lg-end" for="password">Jelszó</label>
                            <div class="col-lg-7"><input class="form-control" name="password" id="password" type="password"></div>
                        </div>
                        <div class="row tjs-row">
                            <label class="col-lg-5 col-form-label text-lg-end" for="password-2">Jelszó megerősítése</label>
                            <div class="col-lg-7"><input class="form-control" name="password-2" id="password-2" type="password"></div>
                        </div>
                        <div class="row tjs-row">
                            <div class="col"></div>
                            <button class="row col btn btn-primary" type="submit">Jelszó módosítása</button>
                            <div class="col"></div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-sm-3 col-xs-1"></div>
            </div>
        </div>
    </div>

<%- include('footer') %>
