<html>
    <head>
        <meta charset="UTF-8">
        <title>Ötödik házifeladat</title>
    </head>
    <body>
        <form method="POST" action="/increase">
            <input type="submit" value="Szám növelése">
        </form>
        <form method="POST" action="/reset">
            <input type="submit" value="Szám nullázása">
        </form>
        <div><%= number %></div>
    </body>
</html>